body {
    max-width: 600px;
    margin: 50px auto;
    padding: 0;
    font-family: "Noto Sans Mono", monospace;
    height: 100vh;
    background: #57435B no-repeat center center fixed;
    background-size: 100% 100%;
    background: -webkit-linear-gradient(top, #57435B, #A37B8D);
    background: -moz-linear-gradient(top, #57435B, #A37B8D);
    background: -ms-linear-gradient(top, #57435B, #A37B8D);
    background: -o-linear-gradient(top, #57435B, #A37B8D);
    background: linear-gradient(to bottom, #57435B, #A37B8D);
}

#inputtype {
    background-color: #f2e5b5;
    color: #D39559;
}

#container {
    -webkit-box-shadow: 0px 5px 6px 2px #D39559;
    box-shadow: 0px 5px 6px 2px #D39559;
}

ul {
    margin: 0px auto;
    padding-left: 0px;
}

li {
    list-style: none;
    text-transform: capitalize;
    color: #D39559;
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

hr {
    border: 2px solid #ecc046;
    margin: 30px 50px;
}

.container-app {
    margin: 15px 10px;
    border: 2px solid #D39559;
    border-radius: 42px;
    background: #f2e5b5;
}

.search-weather {
    max-width: 100%;
    margin: 40px 10px 30px 10px;
}

.form-control {
    background-color: #f2e5b5;
    color: #D39559;
    border: 1px solid #ecc046;
}

.row {
    margin: 15px 10px;
}

.icon-for-forecast {
    display: block;
    position: relative;
    max-width: 100%;
}

.btn {
    background-color: #A4CFC7;
    border: #A4CFC7;
    color: #f2e5b5;
}

a:link {
    color: #D39559;
    text-decoration: none;
}

.live-weather {
    max-width: 100%;
    margin: 40px 10px 30px 10px;
}

.searched-place {
    line-height: 32px;
    font-size: 28px;
}

.date {
    font-size: 20px;
    margin-bottom: 5px;
}

.d-flex {
    font-size: 55px;
    color: #D39559;
}

.temp-number {
    padding-right: 15px;
}

.float-left {
    text-align: left;
}

.weather-description-live {
    font-size: 16px;
}

.units {
    position: relative;
    top: -30px;
    right: 15px;
    font-size: medium;
    font-weight: bold;
    color: #D39559;
}

.active {
    color: #D39559;
    cursor: default;
}

.active:hover {
    text-decoration: none;
}

.card-text-weather-conditions {
    color: #D39559;
    text-align: left;
    border: 1px solid #ecc046;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 0 10px 0 0;
}

.max-current-temp {
    color: #D39559;
    font-size: 20px;
}

.min-current-temp {
    color: #A4CFC7;
    font-size: 20px;
    padding-bottom: 20px;
}

.weather-forecast {
    color: #D39559;
    text-align: center;
}

.max-forecast-temp {
    color: #D39559;
    font-size: 16px;
}

.min-forecast-temp {
    color: #A4CFC7;
    font-size: 16px;
}

.forecast-text {
    color: #D39559;
    font-size: 16px;
    padding: 5px;
}

.forecast-temperature {
    color: #D39559;
    padding: 5px;
}

.link-github {
    color: #ecc046;
}

.link-github:hover {
    color: #D39559;
    text-decoration: underline;
}

.link-linkedin {
    color: #D39559;
}

.link-linkedin:hover {
    text-decoration: underline;
    color: #D39559;
}

.madebyme {
    text-align: center;
    color: #D39559;
    max-width: 100%;
    margin-top: 30px;
    font-size: 15px;
    font-weight: bold;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #f2e5b5;
    opacity: 1;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #f2e5b5;
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #f2e5b5;
}