body {
    max-width: 600px;
    margin: 50px auto;
    padding: 0;
    font-family: "Noto Sans Mono", monospace;
    height: 100vh;
    background: #57435B no-repeat center center fixed;
    background-size: 100% 100%;
    background: -webkit-linear-gradient(top, #57435B, #A37B8D);
    background: -moz-linear-gradient(top, #57435B, #A37B8D);
    background: -ms-linear-gradient(top, #57435B, #A37B8D);
    background: -o-linear-gradient(top, #57435B, #A37B8D);
    background: linear-gradient(to bottom, #57435B, #A37B8D);
}


.container {
    -webkit-box-shadow: 0px 5px 6px 2px #57435B;
    box-shadow: 0px 5px 6px 2px #57435B;
    background-color: #57435B;
    border-radius: 15px;
    padding-left: 30px;
}

ul {
    margin: 0px auto;
    padding-left: 0px;
}

li {
    list-style: none;
    text-transform: capitalize;
    color: #f7eaec;
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.8;
}

hr {
    border: 2px solid #d7959A;
    margin: 30px 50px;
}

.row {
margin: 0 auto;
}
.sweet-loading{
    margin: 100px 100px 100px 100px;
    padding: 100px 100px 100px 100px ;
    text-align: center;
}
.col-md-7{
    padding: 0 auto;
}
.search-weather {
    max-width: 100%;
}

.form-control {
    background-color: #f2e5b5;
    color: #D39559;
    border: 1px solid #ecc046;
}



.icon-for-forecast {
    display: block;
    position: relative;
    max-width: 100%;
}

.btn {
    background-color: #d7959A;
    border: #eaedf7;
    color: #f7eaec;
}
.btn:hover{
    background-color:#f7eaec;
    color: #d7959A;

}

a:link {
    color: #d7959A;
    text-decoration: none;
}

.live-weather {
    max-width: 100%;
}

.searched-place {
    line-height: 32px;
    font-size: 28px;
}

.date {
    font-size: 20px;
    margin-bottom: 5px;
}

.d-flex {
    font-size: 55px;
    
}

.temp-number {
    padding-right: 15px;
    color: #f7eaec;
    margin-left: 10px;
}

.float-left {
    text-align: left;
}

.weather-description-live {
    font-size: 16px;
}

.units {
    position: relative;
    top: -30px;
    right: 15px;
    font-size: medium;
    font-weight: bold;
    color: #d7959A;
}


.active {
    color:#f7eaec;
    cursor: default;
}

.active:hover {
    text-decoration: none;
    color: #A37B8D;
}

.card-text-weather-conditions {
    color: #f7eaec;
    text-align: left;
    border: 1px solid #d7959A;
    padding: 10px 7px ;
    border-radius: 10px;
    line-height: 1.8;

}

.max-current-temp {
    color: #D39559;
    font-size: 20px;
}

.min-current-temp {
    color: #A4CFC7;
    font-size: 20px;
    padding-bottom: 20px;
}

.weather-forecast {
    color: #D39559;
    text-align: center;
}

.ForecastTemperature-max {
    color: #f7eaec;
    font-size: 16px;
}

.ForecastTemperature-min {
    color: #f7eaec;
    font-size: 16px;
}

.ForecastDay {
    color: #f7eaec;
    font-size: 16px;
}


.link-github {
    color: #f7eaec;
}

.link-github:hover {
    color: #d7959A;
    text-decoration: underline;
}

.link-linkedin {
    color: #d7959A;
}

.link-linkedin:hover {
    text-decoration: underline;
    color:#f7eaec;
}

.madebyme {
    text-align: center;
    color: #f7eaec;
    max-width: 100%;
    margin-top: 30px;
    font-size: 15px;
    font-weight: bold;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #f2e5b5;
    opacity: 1;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #f2e5b5;
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #f2e5b5;
}